
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>聊天室</h1>
<div >

        <div class="col-8">
        <div class="mb-3 fixed-bottom " style="display: flex;flex-wrap: wrap;align-items: center;">
                <div class="col-sm-1">
                    <label for="sendToID" class="form-label" style="margin-right: 10px;">指定 ID</label>
                </div>  
                <div class="col-sm-1" style="margin-right: 10px;">
                    <input v-model="sendToID" type="text" class="form-control" placeholder="All" id="sendToID">
                </div>
                <label for="message" class="form-label" style=" margin-right: 10px; ">發送訊息</label>
                <div class="col-sm-7" style="margin-right: 10px;">
                    <input v-model="message" type="text" style="margin-right: 10px;" v-on:keyup.enter="SendMessage()" class="form-control" id="message">
                </div>
                <button type="button" class="btn btn-primary " v-on:click="SendMessage()">傳送訊息</button>
            </div>
            
        </div>

    <div class="row">
        <div id="chatContent" class="col-8" style=" overflow-y: auto;max-height: 360px;">
            <div class="col-12">
                <h3>聊天內容</h3>
                <ul class="list-group">
                    <li v-for="msg in content" :key="msg" class="list-group-item">{{ msg }}</li>
                </ul>
            </div>
        </div>
        <div  class="col-4" style="overflow-y: auto;max-height: 360px;">
            <h3>聊天室成員</h3>
            <ul class="list-group">
                <li v-for="id in IDList" :key="id" class="list-group-item">{{ id }}</li>
            </ul>
        </div>
    </div>
</div>
<script type="module" src="~/js/Chat.js" asp-append-version="true"></script>
<style>
    .list-group-item {
        word-wrap: break-word; 
        white-space: normal; 
    }
</style>
