@model MessageProject.Models.Message

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Message  Page";
}
<div id="data"  data-name="@User.Identity?.Name" >
    
    <div style="text-align: center;" >
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="margin: 0 auto; width: 70%; display: flex;">
                <h3>{{messages.title}}</h3>
                <div v-if="IsAdmin">
                    <div style="margin-left: auto;">
                        <button id="messageEdit" type="button" v-on:click="MessageEdit()">編輯</button>
                        <button id="messageSubmit" type="button" v-on:click="MessageSubmit(messages.id)" class="d-none">完成</button>
                    </div>                    
                </div>
            </div>
        </div>
        <div>
            <textarea id="messageTextarea" style="height: 150px;width: 70%;" readonly>{{messages.content}}</textarea>
        </div>
    </div>

    <div v-for="reply in messages.replys" :key="reply.id" :id="'reply_' + reply.id" style="margin-top:10px">
        <div style="margin:0px auto;width: 70%; display: flex">
            <div style="vertical-align: top;width: 18%">{{ reply.userName }}</div>
            <textarea :id="'textarea_' + reply.id" style="height: auto;width: 72%" readonly>{{ reply.replyContent }}</textarea>
            <div :name="'replyButton_' + reply.userName" class="d-none" style="width: 10%">
                <button :id="'replyEdit_' + reply.id" :name="reply.userName" v-on:click="EditContent(reply.id)">編輯</button>
                <button :id="'replySubmit_' + reply.id" :name="reply.userName" v-on:click="EditSubmit(reply.id)" class="d-none">完成</button>
                <button :name="reply.userName" v-on:click="DeleteReply(reply.id)">刪除</button>
            </div>
        </div>
    </div>
    <hr >  
    <div class="reply" style="text-align: center;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="margin:0px auto;width: 70%; display: flex">
                <textarea id="replyTextarea" style="height: auto;width: 100%" placeholder="回覆内容"></textarea>
                <button v-on:click="PostReply()">回覆</button>
            </div>
        </div>
    </div>

</div>


<script  src="~/js/Detail.js" asp-append-version="true"></script>

       