@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Message List Page";
}


   
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>留言板</h1>
        <div style="display: flex; align-items: center;">
            <a href="/Message/AddMessage">
                <button type="button">新增留言</button>
            </a>
        </div>
    </div>
    <table style="width: 100%;">
        <thead>
        <tr>
            <th style="width: 10%;">留言數</th> 
            <th style="width: 50%;">標題</th>
            <th style="width: 15%;">作者</th>
            <th style="width: 20%;">發表時間</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="(message, index) in messages" :key="index">
                <td>{{ message.ReplyCount }}</td>
                <td><a :href="'/Message/Detail/'+message.Id">{{ message.Title }}</a></td>
                <td>{{ message.UserName }}</td>
                <td>{{ FromtDate( message.Date )}}</td>
                <td :name="message.UserName">
                    <button class="d-none" v-on:click="DeleteMessage(message.Id)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center;">
        <ul class="pagination">
            <li >
                <button type="button" v-on:click="GetNextPage(pageNumber-1)">＜</button>
            </li>
            <li v-for="page in pageCount" :key="page">
                <button type="button" v-on:click="GetMessageList(page)">{{ page }}</button>
            </li>
            <li>
                <button type="button" v-on:click="GetNextPage(pageNumber+1)">＞</button>
            </li>
        </ul>
    </div>

<script  src="~/js/List.js" asp-append-version="true"></script>
<style>
    .pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .pagination li {
            display: inline;
    }

    .pagination li a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }
</style>
