
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>AddAdin</h1>
<form action="/Member/AddUserToAdminRole" method="post">
    <label for="username">UserName:</label>
    <input type="text" id="username" name="username" required><br><br>

    <button id="loginButton" type="submit">Submit</button>

</form>
