
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="app">
    <h1>ChangePassword</h1>
    <form >       
        <label for="currentPassword">請輸入舊密碼:</label>
        <input type="password" id="currentPassword" name="currentPassword" v-model="currentPassword" required><br><br>

        <label for="newPassword">請輸入新密碼:</label>
        <input type="password" id="newPassword" name="newPassword" v-model="newPassword" v-on:change="CheckPasswordMatch()" required><br><br>
        
        <label for="checkNewPassword">請重複輸入新密碼:</label>
        <input type="password" id="checkNewPassword" v-model="checkNewPassword" v-on:change="CheckPasswordMatch()" required><br><br>

        <p v-if="passwordMatch"> 新密碼不一致 </p>

        <button type="button" id="registerButton" v-on:click="CheckForm()">送出</button>
    </form>
</div>
<script src="~/js/ChangePassword.js"></script>

