
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="app">
    <h1>ChangePassword</h1>
    <form >       
        <label for="currentPassword">請輸入舊密碼:</label>
        <input type="password" id="currentPassword" name="currentPassword" v-model="currentPassword" required><br><br>

        <label for="newPassword">請輸入新密碼:</label>
        <input type="password" id="newPassword" name="newPassword" v-model="newPassword" v-on:change="CheckPasswordMatch()" required><br><br>
        
        <label for="checkNewPassword">請重複輸入新密碼:</label>
        <input type="password" id="checkNewPassword" v-model="checkNewPassword" v-on:change="CheckPasswordMatch()" required><br><br>

        <p v-if="passwordMatch"> 新密碼不一致 </p>

        <button type="button" id="registerButton" v-on:click="CheckForm()">送出</button>
    </form>
</div>
<script>
    const app = Vue.createApp({
        el: "#app",
        data() {
            return {
                userName: "",
                newPassword: "",
                checkNewPassword: "",
                passwordMatch: false,
            }
        },
        computed: {
            isPasswordValid() {
                // 驗證密碼長度和包含大小寫英文字母
                const minLength = 6;
                const hasLowerCase = /[a-z]/.test(this.newPassword);
                const hasUpperCase = /[A-Z]/.test(this.newPassword);
                return this.newPassword.length >= minLength && hasLowerCase && hasUpperCase;
            },
                      
        },
        methods: {
            CheckPasswordMatch() {
                this.passwordMatch = this.newPassword != this.checkNewPassword;
            },           
        
        CheckForm() {
            let tipString = "";
            const self = this;
            if (!this.isPasswordValid) {
                tipString += "密碼長度至少六位，並包含大小寫英文。\n";
            }
            if (this.passwordMatch) {
                tipString += "請確認兩次密碼是否都正確輸入。\n";
            }
            if (tipString.length > 0) {
                alert(tipString);
            } else {
                this.PostAccount();
            }
        },
        PostAccount() {
            const currentPassword = $("#currentPassword").val();
            const newPassword = $("#newPassword").val();

            $.ajax({
                url: "/Member/UpdatePassword",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    CurrentPassword: currentPassword,
                    NewPassword: newPassword
                }),
                success: function (data) {
                    location.href="/Message/List"
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        },
        },
    });
    app.mount("#app");
</script>

